include blocks/layout/layout
include blocks/button/button
include blocks/arrow-button/arrow-button
include blocks/percentage/percentage

html
  head
    title Resume
  body
    +layout()
      h1 standard buttons
      +button('button', '', 'small')
      +button('button')
      +button('button', 'error')
      +button('button', 'error', 'small')
      h1 arrow buttons
      +arrow-button('left', 'inactive')
      +arrow-button('right', 'inactive')
      +arrow-button('left', 'disabled')
      +arrow-button('right', 'disabled')
      +arrow-button('left')
      +arrow-button('right')
      h1 percentages / pie chart
      +percentage(0)
      +percentage(38)
      +percentage(62)
      +percentage(89)
