//toggle_height = 2rem
//
//.toggle
//  display block
//  overflow hidden
//  cursor pointer
//  width (toggle_height * 2.5)
//  height toggle_height
//  border-radius (toggle_height / 2)
//  background-color color-first
//  padding (toggle_height / 8)
//
//  &__text-on-off
//    width 200%
//    margin-left -100%
//    transition margin 0.2s ease-in
//
//  &__switch
//    width (toggle_height * 6 / 8)
//    height (toggle_height * 6 / 8)
//    border-radius 50%
//    background-color white
//
//  &__text-on
//  &__text-off
//    font-family LatoBlack
//    font-size 1rem
//    text-transform uppercase
//    color white
//
//  &__text-on
//    flex-grow 100
//
//  &__text-off
//    flex-grow 0