// btnType: '', 'error'
// btnSize: '', 'small'
mixin button(text, btnType, btnSize)
  button.button(class = (btnType ? 'button_' + btnType + ' ' : '') + (btnSize ? ' button_' + btnSize : '')) #{text}
