.button
  position relative
  border none
  outline none
  cursor pointer
  background-color color-first
  color white
  padding 8.5px 33.5px
  border-radius 3px
  border 1px solid color-first
  box-shadow 0px 3px 0px 0px color-first-dark
  font-size 1.04rem
  font-family LatoBlack
  text-transform uppercase
  vertical-align middle
  text-align center

  &_small
    padding 4.5px 17.5px
    font-size 0.87rem

  &_error
    background-color color-second
    border-color color-second
    box-shadow 0px 3px 0px 0px color-second-dark

  &_pressed
    box-shadow none
    margin-bottom -6px

  &_inactive
    background-color white
    color color-first

    &.button_error
      color color-second

  &__ripple-effect
    position absolute
    border-radius 50%
    width 1px
    height 1px
    background #fafafa
    z-index 1
    animation ripple-animation 1s

@keyframes ripple-animation
  from
    transform scale(1)
    opacity 1

  to
    transform scale(50)
    opacity 0