//-
  options.videoId - id видео-ролика на Vimeo

mixin video-player(options)
  if !options
    - options = {}

  .video-player.js-video-player(data-video-id = options.videoId ? options.videoId : '')
    .video-player__widget.js-video-player__widget