include ../button/button

mixin feedback__validation()
  .feedback__validation
    span.feedback__validation-ok thanks!
    span.feedback__validation-error error

mixin feedback()
  .feedback
    form.feedback__form
      .feedback__name
        input.feedback__input-text(name = 'feedback-name', type = 'text', placeholder = 'Your Name', pattern = '^[A-Za-zА-Яа-яЁё\\s]+$')
        +feedback__validation()
      .feedback__email
        input.feedback__input-text(name = 'feedback-email', type = 'text', placeholder = 'Your Email', pattern = '^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$', required)
        +feedback__validation()
      textarea.feedback__textarea(name = 'feedback-message', placeholder = 'Your Message')
      .feedback__submit
        +button('submit')
